/* CSS Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Sunflower', sans-serif;
    background-color: rgb(35, 9, 25);
}


header {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
}


nav {
    background-color: rgb(3, 3, 66);
    padding: 10px 0;
    text-align: center;
}

.navButton {
    display: inline-block;
    margin: 0 10px;
}

.navButton a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
}


.classCenter {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.intestation {
    color: rgb(212, 20, 20);
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}


#bio {
    margin-bottom: 30px;
    border: 5px solid black;
    padding: 20px;
    background-color: rgb(209, 178, 199);
}


#education_and_training {
    margin-bottom: 30px;
    border: 5px solid black;
    padding: 20px;
    background-color: rgb(209, 178, 199);
}

#passionsSection {
    margin-bottom: 30px;
    border: 5px solid black;
    padding: 20px;
    background-color: rgb(209, 178, 199);
}




#maria-img {
    margin-top: 15px;
    width: 230px;
}




/* CSS Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Sunflower', sans-serif;
    background-color: rgb(35, 9, 25);
}


header {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
}


nav {
    background-color: rgb(3, 3, 66);
    padding: 10px 0;
    text-align: center;
}

.navButton {
    display: inline-block;
    margin: 0 10px;
}

.navButton a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
}


.classCenter {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.intestation {
    color: rgb(212, 20, 20);
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}


#bio {
    margin-bottom: 30px;
    border: 5px solid black;
    padding: 20px;
    background-color: rgb(209, 178, 199);
}


#education_and_training {
    margin-bottom: 30px;
    border: 5px solid black;
    padding: 20px;
    background-color: rgb(209, 178, 199);
}

#passionsSection {
    margin-bottom: 30px;
    border: 5px solid black;
    padding: 20px;
    background-color: rgb(209, 178, 199);
}

#contactsSection {
    margin-bottom: 30px;
    border: 5px solid black;
    padding: 20px;
    background-color: rgb(209, 178, 199);
}




#maria-img {
    margin-top: 15px;
    width: 230px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}




#lettura-img {
    margin-top: 15px;
    width: 220px;
}